<div class="container">
	<form id="forgotPassword" name="forgotPasswordForm">
	<div class="row">
		<div class="col-md-6">
		<input type="email" class="form-control" name="email" placeholder="Email" value="" ng-model="userLogin.email"required >
		<div style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">		Email is not Valid
		</div>
		<br>
		<button class="btn btn-primary center-block" value="Submit" ng-click="login(userLogin)" ng-disabled="myForm.$invalid">Submit</button>
		</div>
	</div>
	</form>
	
</div>