<div class="container">
	<div class="well col-xs-offset-3 text-center ">
		<h3>A2B Login Page</h3>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-login">
				<div class="panel-heading">

					<div class="row">
						<div class="col-xs-4">
							<span class="active" id="login-form-link">Login</span>
						</div>
						<div class="col-xs-4">
							<span class="active" id="register-form-link">Register</span>
						</div>	
					</div> <!-- end of row -->	 

				</div> <!-- end panel heading -->
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
<!-- ======================================================================================== -->						
							

			<form id="login-form" name="myForm" style="display:block;" novalidate>
				<div class="form-group">
						<input type="email" class="form-control" name="email" placeholder="Username" value="" ng-model="userLogin.email"required >
					<div style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">Email is not Valid
					</div>

				</div>
				<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" value="" ng-model="userLogin.password" required>
				</div>
				
				<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<button class="form-control btn btn-login" value="Log In" ng-click="login(userLogin)" ng-disabled="myForm.email.$pristine && myForm.email.$invalid || myForm.password.$pristine && myForm.password.$invalid">login</button>
							</div>
						</div>
				</div>
				<p ng-if="message">{{message}}</p>
			</form>

<!-- 						</==================================================================================== -->
							

		<form id="register-form" name ="myForm2" style="display: none;">
				<div class="form-group">
					<input type="text" class="form-control" name="fullName" placeholder="FullName" ng-model="user.full_name" ng-minlength="3" ng-maxlength="25">
					<div role="alert">
						<span class="error" ng-show="myForm2.fullName.$error.minlength">
						Too short!</span>
						<span class="error" ng-show="myForm2.fullName.$error.maxlength">
						Too long!</span>
					</div>


				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Contact No." name="phone_num" ng-model="user.phone_num"  ng-maxlength="10" ng-pattern="/[2-9]{2}\d{7}/">
					<div role="alert">
						
						<span class="error" ng-show="myForm2.phone_num.$error.maxlength">
						Phone Number should not be more then 10 digits</span>
						<span class="error" ng-show="myForm2.phone_num.$error.pattern">
						*Please enter digits only</span>
					</div>

				</div>
				<div class="form-group">
					<input type="email" class="form-control" name="email" placeholder="Email Address" ng-model="user.email">
				<div style="color:red" ng-show="myForm2.email.$dirty && myForm2.email.$invalid">Email is not Valid
				</div>

				</div>
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" ng-minlength="5" >
					<div role="alert">
					<span class="error" ng-show="myForm2.password.$error.minlength">
					Password should not be less then 5 characters</span>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button class="form-control btn btn-register" value="Register Now" ng-click="registerUser(user)" ng-disabled="myForm2.email.$pristine || myForm2.email.$invalid">register</button>
						</div>
					</div>
				</div>
		</form>


<!-- ====================================================================================== -->
						</div>
					</div>
				</div> <!-- end of panel body -->
			</div>
		</div>
	</div>	<!-- end of row -->	

	





</div> <!-- end of container -->