<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header pull-left">
			<a class="navbar-brand" href="">A2B</a>
		</div>
		
			<!-- <ul class="nav navbar-nav navbar-right pull-right">
        
		        <li class="dropdown">
		          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="">My Profile</a></li>
		            <li><a href="">Orders</a></li>
		            <li><a ng-click="delete(id)" href="" >Delete</a></li>
		            
		            <li role="separator" class="divider"></li>
		            <li><a href="" ng-click="logout(user)">Sign Out</a></li>
		          </ul>
		        </li>
     		 </ul>	 -->
		<!-- </div> -->
	</div> <!-- end of container -->
	
</nav> <!-- end of navbar -->

<!-- ================================================================================ -->

<div class="container">
	<div class="row"  style="margin-top: 20px;">

		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Welcome Shubham
				<span class="pull-right">Wallet Amount: 5000 INR</span>
				</div>
				<div class="panel-body">
				<p>Flipkart wants to charge this amount: 100 INR</p>
					
				</div>
				
			</div>
			
		</div> <!-- end of col-xs-12 -->
		
	</div> <!-- end of row -->
	<footer>
		
		<div class="col-xs-6"><a href=""> Privacy Policy</a></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-5">
			<div class="btn-group">
				<button class="btn btn-primary" ng-click="pay()" ng-disabled="payButton">Authorize</button>
				<button class="btn btn-danger decline"><a href="#/decline"> Decline </a></button>
			</div>
		</div>
		
	</footer>
</div>
