<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header pull-left">
			<a class="navbar-brand" href="">A2B</a>
		</div>
	</div> <!-- end of container -->
	
</nav> <!-- end of navbar -->

<!-- ================================================================================ -->

<div class="container">
	<div class="row"  style="margin-top: 20px;">

		<div class="col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">Welcome 
				<span class="pull-right">Wallet Amount: 5000 INR</span>
				</div>
				<div class="panel-body">
				<p>Flipkart wants to charge this amount: 100 INR</p>
					
				</div>
				
			</div>
			
		</div> <!-- end of col-xs-12 -->
		
	</div> <!-- end of row -->
		 <div>
			 <p class="pull-left"><a href=""> Privacy Policy</a></p>

			 <p class="pull-right">
			 	{{payButton}}
				 <button class="btn btn-primary" ng-click="pay()" ng-disabled="payButton">Pay</button>
				 <button class="btn btn-danger decline" ng-click="closeWindow()" > Decline </button>
			 </p>
		 </div>	
</div> <!-- end of container -->
